.about {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    color: grey;
/* font-family: 'Roboto Slab', serif; */
    /* border: 1px solid yellow; */
    padding: 0;

    
    
}

.know {
    color: white;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

.know::before {
    /* content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #9acff2;
    border-bottom: 10px solid transparent */
}

.aboutText {
    font-size: 3vw;
    text-align: justify;
    
}

.aboutArrow {
    /* display: grid;
    grid-template-columns: 20px auto;
    column-gap: 50px;
    margin: 0 0 50px 0;
    color: white;
    font-size: 2vw; */
    /* border: 1px solid blue; */
/* font-family: 'Exo 2', sans-serif; */


}



